<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.cafeshop.model.product.PsizeDAO">

	<insert id="insert" parameterType="Psize">
		insert into psize(size_name, product_idx) values(#{size_name}, #{product.product_idx})		
	</insert>

</mapper>